# PYTHON
*.pyc
.pyc
/__pycache__
/entorno/
/env/
/old
# VISUAL STUDIO cODE
.vscode
# PYCHARM
.idea/
#OTROS
.env
heroku.env
database.ini
/assets
/dumps
/backups
*.log
borrador.txt
test*
json/players.json
